[Unit]
Description=Stateless ICE interception
Documentation=https://github.com/evan-brass/swbrd
Wants=network-online.target
After=network-online.target systemd-networkd.service

[Service]
Type=exec
User=swbrd
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=yes
Restart=no
EnvironmentFile=/etc/default/swbrd-ice-dissolve
ExecStart=/usr/libexec/swbrd/ice-dissolve

[Install]
WantedBy=multi-user.target
