[Match]
Name=dtls-july

[Network]
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes

[Link]
RequiredForOnline=no

# /96 for the July rotation of deter
[Route]
Destination=2a01:4ff:1f0:7e46:0:5::/96
