[Unit]
Description=Rotate the January.der certificate on November 1st each year.

[Timer]
OnCalendar=*-11-1
Persistent=true
Unit=rotate-january.service

[Install]
WantedBy=timers.target
