[Unit]
Description=Rotate the July.der certificate file

[Service]
User=swbrd
StateDirectory=swbrd
WorkingDirectory=/var/lib/swbrd
ExecStart=/opt/cert-rotate July
