[Unit]
Description=Rotate the July.der certificate on May 1st each year.

[Timer]
OnCalendar=*-5-1
Persistent=true
Unit=rotate-july.service

[Install]
WantedBy=timers.target
