[Unit]
Description=Rotate the January.der certificate file

[Service]
Type=oneshot
StateDirectory=swbrd
WorkingDirectory=/var/lib/swbrd
ExecStart=/opt/cert-rotate January
ExecStart=systemctl kill -s SIGHUP dtls-proxy
