[Unit]
Description=SCTP/DataChannel VPN
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
User=swbrd
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
ExecStart=/opt/swbrd -i swbrd -p 5001 -s "2a01:4ff:1f0:7e46:0:5::/96"
