[Unit]
Description=Stateless relay using the TURN wire format over UDP
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
User=swbrd
Restart=no
Environment=RUST_BACKTRACE="full"
Environment=RUST_LOG="trace"
ExecStart=/opt/turnserver -i turnserver --net "2a01:4ff:1f0:7e46:0:1::/96" --min-port 10000 --max-port 65535 --router 2a01:4ff:1f0:7e46::1
